.popup_opened {
    opacity: 1;
    visibility: visible;
    -webkit-transition: visibility 0.5s, opacity 0.5s;
    -o-transition: visibility 0.5s, opacity 0.5s;
    transition: visibility 0.5s, opacity 0.5s;
    cursor: pointer;
}